# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
lib/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log

# Coverage directory
coverage/

# MCP SDK
typescript-sdk/
typescript-sdk
MCP/

# Operating System Files
.DS_Store
Thumbs.db